/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {
    filter: brightness(50%);
}

.slider-caption {
    top: 30%;
    bottom: auto;
}

.company-img {
    width: 120px;
}

/* responsive */
@media only screen and (min-width: 576px) and (max-width:768px) {
    .carousel-item img {
        height: 450px;
        width: 700px;
    }
}